<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tarklabs</title>
</head>
<style>
    #ir{
        text-align:justify;
        margin-top: 5%;
        margin-left: 35%;
        text-decoration: solid;
        font-size: x-large;
    }
    #i03{
        margin-top: 8%;
        text-align: center;
    }
    

</style>
<body>
    <div id="i03" style="font-size: x-large;"><strong>TARKLABS EMPLOYEES</strong></div><br><br>
    <div id="ir">
    <label id="i90" for="uname"><b style="font-family: Arial, Helvetica, sans-serif;">ADD EMPLOYEE:</b></label> 
    <a class="#index" href='index' style="font-family: Arial, Helvetica, sans-serif;">CLICK HERE..</a><br><br><br>

    <label id="i90" for="uname"><b style="font-family: Arial, Helvetica, sans-serif;">EDIT DEPARTMENT:</b></label>
    <a class="loginbtn"  href='edit'style="font-family: Arial, Helvetica, sans-serif;">CLICK HERE..</a><br><br><br>

    <label id="i90" for="uname"><b style="font-family: Arial, Helvetica, sans-serif;">SEARCH EMP:</b></label>
    <a class="show" href='show'style="font-family: Arial, Helvetica, sans-serif;">CLICK HERE..</a><br><br><br>

    <label id="i90" for="uname"><b style="font-family: Arial, Helvetica, sans-serif;">DELETE:</b></label>
    <a class="loginbtn" href='delete' style="font-family: Arial, Helvetica, sans-serif;">CLICK HERE..</a><br><br><br>
    </div>




</body>
</html>